$light-brown: #5a534d;
$grey-2: #3c3733;
$grey-3: #938b81;
$whitish: #b5b0ab;
$dark-grey: #262524;
$tan: #c49a72;
$error: #cf5040;
$match-active: #8aad6e;

$phone-breakpoint: 640px;
$tablet-breakpoint: 1000px;
$desktop-breakpoint: 1400px;