$light-brown: #5a534d;
$grey-2: #3c3733;
$grey-3: #786f65;
$whitish: #a19c97;
$light-grey: #948f8a;
$dark-grey: #262524;
$tan: #a68463;
$error: #A52A2A;

$phone-breakpoint: 640px;
$tablet-breakpoint: 1000px;
$desktop-breakpoint: 1400px;