@use "variables" as *;

body {
  color: $grey-3;
  font-size: 1rem;
  line-height: 1.5;
  font-variant-numeric: tabular-nums;
  background-color: $dark-grey;
  font-family: Avenir, Helvetica, Arial, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: auto;
  padding: 0;
  
  @media only screen and (max-width: $tablet-breakpoint) {
    margin: 1rem;
  }
  @media screen and (min-width: $tablet-breakpoint) {
    max-width: 980px;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    max-width: 1200px;
  }
}

h4 {
  color: $whitish;
  line-height: 1.2;
  margin: .5rem 0;
}

h3 {
  color: $whitish;
  line-height: 1.2;
  margin: 0 0 .5rem 0;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: .05em;
  color: $tan;
}

.bright {
  color: $tan;
  font-weight: bold;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  text-decoration: underline;
  color: $whitish;
  cursor: pointer;
}

.vert-divide {
  margin: 0 0.5rem;
  color: $light-brown;
}

.loading-container {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  svg { width: 60px; }
}

.error-container {
  padding: 2rem 0;
  text-align: center;
}

.empty-row {
  .game-type .game-type-icon img {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }
}