@import "variables";
@import "bootstrap";

body {
  color: $grey-3;
  background-color: $dark-grey;
  margin: 0;
  padding: 0;
}

h4 {
  color: $whiteish;
  margin: .5rem 0;
}
h2 {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  text-transform: uppercase;
  font-weight: 400;
}

.bright {
  color: $tan;
  font-weight: bold;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}